body {
    font-family: 'Be Vietnam Pro', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.menu-option {
    font-weight: 500;
    font-size: 13px;
    line-height: 176.1%;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.header {
    justify-content: space-around;
    padding-left: 199px;
    padding-top: 74.5px;
    padding-right: 188.32px;
}

.header nav {
    justify-content: center;
    align-items: center;
}

.header img {
    justify-content: flex-start;
}

.header ul {
    order: 1;
    width: 100%;
    margin-top: 15px;
    color: #242E52;
}

.menu-list-option {
    display: inline;
    list-style: none;
    margin: 0px 14px;
}

.menu-list-option:hover {
    color: rgba(36, 46, 82, 0.6);
    cursor: pointer;
}

.boton {
    justify-content: center;
    align-items: center;

    padding: 10px;
    gap: 10px;
    width: 134px;
    height: 44px;
    background: #8B48BF;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    flex: none;
    order: 2;
    flex-grow: 0;
    border-style: none;
    color: #fff;
}

.padle-intro {
    width: auto;
}

.content-with-space-between {
    justify-content: space-between;
}

.content-center {
    justify-content: center;
}

.align-to-end {
    justify-content: flex-end;
}

.banner {
    padding-left: 199px;
    padding-top: 74.5px;
    gap: 10px;
    width: auto;
}

.banner-legend {
    width: 450px;
    height: 228px;
    gap: 30px;
}

.banner-legend h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 114.6%;
    /* or 57px */

    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: -0.035em;

    color: #232C50;
}

.banner-legend h4 {
    font-weight: 500;
    font-size: 16.5584px;
    line-height: 157.1%;
    display: flex;
    align-items: center;
    text-align: right;
    color: #000000;
}

.central-bar {
    justify-content: center;
    align-items: center;
    width: auto;
    background: #8B48BF;
    height: 168px;
    margin-top: 80px;;
}

.central-bar h1 {
    width: 450px;
    height: 88px;
    font-weight: 700;
    font-size: 36px;
    line-height: 114.6%;
    /* or 41px */

    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.central-bar h4 {
    width: 450px;
    height: 88px;
    font-weight: 500;
    font-size: 16px;
    line-height: 151.1%;
    /* or 24px */

    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.central-bar-text {
    gap: 200px;
}