body {
    font-family: 'Be Vietnam Pro', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.menu-option {
    font-weight: 500;
    font-size: 13px;
    line-height: 176.1%;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.header ul {
    order: 1;
    width: 100%;
    margin-top: 15px;
    color: #242E52;
}

.menu-list-option {
    display: inline;
    list-style: none;
    margin: 0px 14px;
}

.menu-list-option:hover {
    color: rgba(36, 46, 82, 0.6);
    cursor: pointer;
}

.purple {
    background: #8B48BF;
    color: #fff;
}

.got-it-btn {
    background: #FFFFFF;
    color: #8B48BF;
}

.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 134px;
    height: 44px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    flex: none;
    order: 2;
    flex-grow: 0;
    border-style: none;
}

.second-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    flex-wrap: wrap;
}

.third-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    flex-wrap: wrap;
}

.content-with-space-between {
    justify-content: space-between;
}

.content-center {
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 250px;
    margin-bottom: 10%;
}

.center-space-arround {
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.center-space-between {
    justify-content: space-between;
    align-items: center;
}

.align-to-end {
    display: flex;
    justify-content: flex-end;
}

.wrap {
    flex-wrap: wrap;
}

.second-section-advertising {
    width: 450px;
    height: 228px;
    justify-content: space-around;
    gap: 50px;
}

.advertising-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 114.6%;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: -0.035em;
    color: #232C50;
}

.advertising-text {
    font-weight: 500;
    font-size: 16.5584px;
    line-height: 157.1%;
    display: flex;
    align-items: center;
    text-align: right;
    color: #000000;
}

.central-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #8B48BF;
    padding: 50px;
}

.got-it-bar {
    display: block;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: #8B48BF;
    padding: 50px;
}

.central-bar-content-title {
    width: 450px;
    height: 88px;
    font-weight: 700;
    font-size: 36px;
    line-height: 114.6%;
    /* or 41px */

    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.central-bar-content-text {
    width: 450px;
    height: 88px;
    font-weight: 500;
    font-size: 16px;
    line-height: 151.1%;
    /* or 24px */

    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.central-bar-content {
    display: flex;
    flex-wrap: wrap;
    gap: 200px;
}

.got-it-bar-content {
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.got-it-bar-title {
    width: 450px;
    height: 88px;
    font-weight: 700;
    font-size: 36px;
    line-height: 114.6%;
    /* or 41px */

    display: flex;
    align-items: center;

    color: #FFFFFF;
}


header {
    margin-top: 30px;
}

.burger {
    display: none;
}

.number-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    gap: 10px;
    width: 69px;
    height: 43px;
    background: #8B48BF;
    border-radius: 30px;
}

.number-text {
    width: 19px;
    height: 23px;
    display: flex;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    align-items: center;
    color: #FFFFFF;
}

.box-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    color: #323851;
    padding-left: 30px;
    
}

.box-header {
    gap: 30px;
}

.box-content {
    gap: 30px;
    width: 700px;
    align-items: flex-start;
    padding-left: 100px;
}

.box-text {
    width: 437px;
    font-weight: 500;
    font-size: 16.2984px;
    line-height: 26px;
    letter-spacing: -0.01em;
    color: #B3B2B7;
    padding-left: 100px;
}

.bg-box-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FAFAFA;
    padding-bottom: 50px;
}

.bg-box-internal {
    margin-top: 5%;
    justify-content: center;
    align-items: center;
}

.number-title-color {
    background-color: #FAFAFA;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 30px 0px  0px 30px;
    gap: 10px;
}

.number-title-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    color: #323851;
    padding-left: 30px;
}

.mobile-title-style {
    margin-top: 4%;
    gap: 10px;
    width: 600px;
}

.third-section-title{
    font-weight: 700;
    font-size: 39.2143px;
    line-height: 156.6%;
    display: flex;
    align-items:center;
    text-align: center;
    letter-spacing: -0.01em;
    text-align: center;
    color: #242E53;
    margin-top: 80px;
    
}

.player-box{
    display: flex;
    left: 4.93%;
    right: 64.17%;
    top: 63.66%;
    bottom: 28%;
   
}

.box-position {
    display: flex;
    gap: 30px;
    flex-direction: column;
    padding-bottom: 30px;
}

.players-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FAFAFA;
    
}
.player-text {
    background-color: #FAFAFA;
    font-weight: 500;
    font-size: 16px;
    line-height: 156.6%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #B9B9C1;
    width: 403px;
    height: 100px;
}

.img-position {
    text-align: center;
   

}

h5 {
    text-align: center;
    font-weight: 700;
    font-size: 16.0714px;
    line-height: 156.6%;
    align-items: center;
    letter-spacing: -0.01em;
    color: #3F4868;
}

@media screen and (max-width: 500px) {

    .got-it-bar-title {
        width: 450px;
        height: 88px;
        font-weight: 700;
        font-size: 36px;
        line-height: 114.6%;
        /* or 41px */
        text-align: center;
        display: flex;
        align-items: center;
    
        color: #FFFFFF;
    }

    .got-it-bar {
        background-color: #3CDDF3;
    }
    

    .mobile-title-style {
        margin-top: 8%;
        gap: 10px;  
        width: 100%;
        padding-left: 50px;
    }

    .paddle-img {
        margin-top: 10%;
        width: 80%;
    }

    .menu, #contact-menu-btn {
        display: none;
    }

    .burger {
        display: block;
    }
    

    .central-bar {
        background: #3CDDF3;
    }

    .central-bar-content {
        gap: 20px;
    }

    #third-section {
        gap: 50px;
    }

    .box-header {
        gap: 10px;
    }
    
    .box-text {
        padding: 0px;
        margin-top:30px;
        width: 100%;
    }
    
    .bg-box-content {
        display: block;
        background-color: #FFFFFF;
    }

    .box-content {
        gap: 40px;
        width: 100%;
        align-items: flex-start;
        padding-left: 50px;
    }

    .box-title{
        padding-left: 10px;
    }

    .line {
        display: block;
        color: #B3B2B7;
    }

    .number-title-color {
        background: rgba(139, 72, 191, 0.3);
    }

    .got-it-btn {
        background: #232C50;
        color: #FFFFFF;
    }

    .hidden-player {
        display: none;
    }

}
